* {
	margin: 0;
	padding: 0;
}

/* Стили для "пергородок" */

.partition1 {
	width: 100%;
	position: absolute;
	top: 40vw;
	z-index: 60;
}

.partition2 {
	width: 100%;
	position: absolute;
	top: 108vw;
	z-index: 60;
}

.partition3 {
	width: 100%;
	position: absolute;
	top: 154vw;
	z-index: 60;
}

.partition4 {
	width: 100%;
	position: absolute;
	top: 208.5vw;
	z-index: 60;
}

/* Стили для шапки */

header {
	width: 100%;
	height: 37vw;
	background-image: url(pic/Frame.jpg);
	background-size: 100vw;
}

nav {
	width: 100vw;
	height: 8vw;
	display: grid;
	grid-template-columns: 10% 17% 5% 8% 11% 7% 4% 3.5% 6% 12% 10%;
	grid-template-areas: ". logo catalog manufacturers working certificates abaut FAQ contacts number .";
	align-items: center;
	position: fixed;
	top: 0;
	background-image: url(pic/Frame.jpg);
	z-index: 100;
}

.logo-conteiner {
	grid-area: logo;
	color: white;
	font-size: 3vw;
	font-weight: bold;
	cursor: pointer;
}

.catalog-container {
	grid-area: catalog;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.manufacturers-container {
	grid-area: manufacturers;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.working-container {
	grid-area: working;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.certificates-container {
	grid-area: certificates;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.about-container {
	grid-area: abaut;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.FAQ-container {
	grid-area: FAQ;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.contacts-container {
	grid-area: contacts;
	color: white;
	font-size: 1vw;
	font-weight: 100;
	cursor: pointer;
}

.number-container {
	grid-area: number;
	color: white;
	font-size: 1vw;
	display: grid;
	grid-template-columns: 20% 80%;
	align-items: center;
	font-weight: bold;
	font-size: 1.2vw;
	cursor: pointer;
}

.phone-pic {
	width: 2vw;
	height: 2vw;
}

/* стили для блока "Оптовые поставки" -------------------------------------------------------------------------------------------*/

.order-header {
	width: 74vw;
	height: 25vw;
	margin-left: 10vw;
	display: grid;
	grid-template-columns: 60% 10% 30%;
	grid-template-rows: 15% 15% 15% 15% 40%;
	grid-template-areas:	"text1 . form"
							"text2 . form"
							"text3 . form"
							"text4 . form"
							"task  . form";
	align-items: center;
	margin-top: 7.9vw;
}

.text1 {
	color: white;
	font-weight: bold;
	grid-area: text1;
	font-weight: bold;
	font-size: 3.8vw;
	cursor: default;
}

.text2 {
	font: FuturaFuturisC;
	color: #969AF7;
	grid-area: text2;
	font-size: 2.65vw;
	font-weight: bold;
	align-self: center;
	cursor: default;
}

.text3 {
	color: white;
	grid-area: text3;
	font-weight: bold;
	font-size: 3.4vw;
	cursor: default;
}

.text4 {
	color: #969AF7;
	grid-area: text4;
	font-size: 1.3vw;
	cursor: default;
}

.task-block {
	background: linear-gradient(to left, #969AF700, #969AF750);
	grid-area: task;
	border-radius: 5px;
	padding: 1.8vw;
	cursor: default;
}

.task1 {
	color: white;
	font-size: 1.25vw;
	margin-bottom: 0.5vw;
}

.task2 {
	color: white;
	font-size: 1.25vw;
	margin-bottom: 0.5vw;
}

.task3 {
	color: white;
	font-size: 1.25vw;
}

/* Стили для формы блока "Оптовые поставки" ----------------------------------------------------------------------------------- */

.form-block {
	width: 100%;
	height: 100%;
	background-color: white;
	grid-area: form;
	border-radius: 10px;
	display: grid;
	grid-template-columns: 10% 25% 65%;
	grid-template-rows: 24% 7% 15% 7% 15% 16% 16%;
	grid-template-areas:	"head      head      head    "
							".         name-l    .       "
							"name-i    name-i    name-i  "
							".         number-l  .       "	
							"number-i  number-i  number-i"
							"btn       btn       btn     "
							"confid    confid    confid  ";
	align-items: center;
	justify-content: center;
}

.form-header {
	grid-area: head;
	background-color: #652fac;
	height: 100%;
	border-radius: 9px 9px 0 0;
	color: white;
	font-size: 1.5vw;
	font-weight: bold;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.label-name {
	grid-area: name-l;
	color: #626366;
	width: 15vw;
}

.input-name {
	grid-area: name-i;
	background-color: #F5F3FF;
	border: 0;
	box-shadow: 1px 1px 3px 0px #0000001A inset;
	width: 80%;
	margin-left: 2vw;
	height: 3vw;
	border-radius: 8px;
	padding-left: 1vw;	
	color: #626366;
}

.label-number {
	grid-area: number-l;
	color: #626366;
	width: 15vw;
}

.input-number {
	grid-area: number-i;
	background-color: #F5F3FF;
	border: 0;
	box-shadow: 1px 1px 3px 0px #0000001A inset;
	width: 80%;
	margin-left: 2vw;
	height: 3vw;
	border-radius: 8px;
	padding-left: 1vw;	
	color: #626366;
}

.btn-call {
	grid-area: btn;
	background-color: #FFA500;
	color: white;
	font-size: 1vw;
	font-weight: bold;
	border: 0;
	border-radius: 8px;
	width: 80%;
	margin-left: 2vw;
	padding: 1vw;
	margin-top: 2vw;
	cursor: pointer;
}

.confidence-container {
	grid-area: confid;
	font-size: 0.8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;
}

.confidence-container p {
	margin-left: 0.5vw;
	color: #626366;
}

/* Стили для блока 1 "Почему с нами выгодно" ----------------------------------------------------------------------------------- */

.main-block1 {
	display: grid;
	grid-template-rows: 20% 80%;
	grid-template-areas:	"title"
							"main ";
	background-color: #F2F2F4;
	padding-bottom: 5vw;
	cursor: default;
}

.block1-title {
	grid-area: title;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.title1 {
	font-size: 2vw;
	font-weight: bold;
	margin-top: 1vw;
	z-index: 70;
}

.title2 {
	margin-top: 3vw;
}

.block1-main {
	grid-area: main;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 50% 50%;
	grid-template-areas:	"e1 e2 e3"
							"e4 e5 e6";
	align-items: center;
	height: 50vw;
	width: 60vw;
	margin-left: 18vw;
	padding-left: 4vw;
}

div[class^='element'] {
	width: 80%;
	height: 80%;
	background-color: white;
	display: grid;
	grid-template-rows: 60% 10% 30%;
	grid-template-areas:	"round"
							"name"
							"desc";
	align-items: center;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.element1 {
	grid-area: e1;
}

.element1:hover {
	background-color: #f0f0f0;
}

.element2 {
	grid-area: e2;
}

.element2:hover {
	background-color: #f0f0f0;
}

.element3 {
	grid-area: e3;
}

.element3:hover {
	background-color: #f0f0f0;
}

.element4 {
	grid-area: e4;
}

.element4:hover {
	background-color: #f0f0f0;
}

.element5 {
	grid-area: e5;
}

.element5:hover {
	background-color: #f0f0f0;
}

.element6 {
	grid-area: e6;
}

.element6:hover {
	background-color: #f0f0f0;
}



div[class^='round-container-el'] {
	grid-area: round;
	display: flex;
	justify-content: center;
}

div[class^='round1-el'] {
	background-color: blue;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #040A57 0%, #3A23E6 100%);
	z-index: 5;
}

div[class^='round2-el'] {
	background-color: black;
	opacity: 0.1;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	position: absolute;
}

.round2-el1 {
	top: 61vw;
	left: 27.5vw;
}

.round2-el2 {
	top: 61vw;
	left: 47.4vw;
}

.round2-el3 {
	top: 61vw;
	left: 67.3vw;
}

.round2-el4 {
	top: 86.1vw;
	left: 27.5vw;
}

.round2-el5 {
	top: 86.1vw;
	left: 47.4vw;
}

.round2-el6 {
	top: 86.1vw;
	left: 67.3vw;
}

div[class^='round3-el'] {
	background-color: black;
	opacity: 0.1;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	position: absolute;
}

.round3-el1 {
	top: 63.4vw;
	left: 27.9vw;
}

.round3-el2 {
	top: 63.4vw;
	left: 47.8vw;
}

.round3-el3 {
	top: 63.4vw;
	left: 67.7vw;
}

.round3-el4 {
	top: 88.4vw;
	left: 27.9vw;
}

.round3-el5 {
	top: 88.5vw;
	left: 47.8vw;
}

.round3-el6 {
	top: 88.5vw;
	left: 67.7vw;
}

div[class^='round4-el'] {
	background-color: black;
	opacity: 0.1;
	width: 6vw;
	height: 6vw;
	border-radius: 50%;
	position: absolute;
}

.round4-el1 {
	top: 63vw;
	left: 25.8vw;
}

.round4-el2 {
	top: 63vw;
	left: 45.7vw;
}

.round4-el3 {
	top: 63vw;
	left: 65.5vw;
}

.round4-el4 {
	top: 88vw;
	left: 25.7vw;
}

.round4-el5 {
	top: 88vw;
	left: 45.6vw;
}

.round4-el6 {
	top: 88vw;
	left: 65.5vw;
}

div[class^='round1-el'] img {
	width: 3vw;
}

div[class^='name-el'] {
	grid-area: name;
	color: #2A336C;
	font-weight: bold;
}


div[class^='desc-el'] {
	grid-area: desc;
	color: #555555;
	font-size: 0.9vw;
}

/* Стили для блока 2 "Наши производители" -------------------------------------------------------------------------------------- */

.main-block2 {
	background-color: #0b0ed4;
	width: 100%;
	height: 30vw;
	background-image: url(pic/Frame2.png);
	background-size: 100vw 90vw;
	display: grid;
	grid-template-rows: 20% 50% 30%;
	padding-bottom: 10vw;
	padding-top: 10vw;
	cursor: default;
}

.title-block2 {
	color: white;
	font-size: 3vw;
	text-align: center;
	font-weight: bold;
}

.slidebar-block2 {
	width: 78%;
	height: 15vw;
	display: grid;
	grid-template-columns: 5% 90% 5%;
	padding-left: 1.5vw;
	margin-left: 10vw;
	align-items: center;
}



.btn-back {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	border: 0;
	background-color: #8586d3;
	padding-left: 0.7vw;
	cursor: pointer;
}

.btn-back:hover {
	background-color: #6162ba;
}

.arrow-1 {
	width: 0.7vw;
	height: 0.7vw;
	border: 0 solid white;
	border-width: 0 0 0.15vw 0.15vw;
	rotate: 45deg;
}

.btn-next {
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	border: 0;
	background-color: #8586d3;
	padding-left: 0.4vw;
	cursor: pointer;
}

.btn-next:hover {
	background-color: #6162ba;
}

.arrow-2 {
	width: 0.7vw;
	height: 0.7vw;
	border: 0 solid white;
	border-width: 0.15vw 0.15vw 0 0;
	rotate: 45deg;
}



.slidebar {
	width: 97%;
	height: 100%;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	align-items: center;
	justify-items: center;
}

div[class^='card'] {
	width: 12.3vw;
	height: 8vw;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	cursor: pointer;
	position: absolute;
}

.card1 {
	left: 16vw;
}

.card2 {
	left: 29.5vw;
}

.card3 {
	left: 43vw;
}

.card4 {
	left: 56.5vw;
}

.card5 {
	left: 70vw;
}

img[class^='pic-cart'] {
	width: 11vw;
}

div[class^='card'] .pic-cart3 {
	width: 7.5vw;
}



.desc-block2 {
	color: white;
	justify-self: center;
	align-self: end;
	padding-left: 15vw;
	padding-right: 15vw;
	font-size: 1vw;
}

/* Стили для блока 3 "Схема работы" -------------------------------------------------------------------------------------------- */

.main-block3 {
	width: 100%;
	height: 54vw;
	background-color: #f2f2f4;
	background-image: url(pic/Frame3.png);
	background-size: 100vw 85vw;
	display: grid;
	grid-template-rows: 10% 4% 71% 8%;
	cursor: default;
}

.title-block3 {
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	z-index: 80;
}

.desc-block3 {
	text-align: center;
	font-size: 1vw;
}

.grid-block3 {
	width: 70%;
	height: 60vw;
	margin-left: 15vw;
}

div[class^='block3-el'] {
	background-size: 100% 100%;
	position: absolute;
	display: grid;
	grid-template-columns: 15% 85%;
	grid-template-rows: 30% 70%;
	grid-template-areas:	"number name"
							".      desc";
	align-items: center;
	justify-items: center;
	cursor: pointer;
}

.block3-el1 {
	width: 24vw;
	height: 15vw;
	background-image: url(pic/b3-el1.png);
	top: 171.6vw;
}

.block3-el2 {
	width: 24vw;
	height: 15.1vw;
	background-image: url(pic/b3-el2.png);
	left: 38vw;
	top: 171.6vw;

}

.block3-el3 {
	width: 24vw;
	height: 16.2vw;
	background-image: url(pic/b3-el3.png);
	left: 61.1vw;
	top: 171.8vw;
}

.block3-el4 {
	width: 23vw;
	height: 14.8vw;
	background-image: url(pic/b3-el4.png);
	top: 186.9vw;

}

.block3-el5 {
	width: 24vw;
	height: 14.5vw;
	background-image: url(pic/b3-el5.png);
	top: 187.3vw;
	left: 37vw;
}

.block3-el6 {
	width: 25.2vw;
	height: 15vw;
	background-image: url(pic/b3-el6.png);
	top: 187vw;
	left: 59.5vw;
}








div[class^='b3-number-el'] {
	color: #969AF7;
	font-size: 3.5vw;
	font-weight: bold;
	grid-area: number;
	padding-left: 2vw;
	padding-top: 1vw;
}

.block3-el5 div.b3-number-el5 {
	padding-left: 4vw;
}

.block3-el6 div.b3-number-el6 {
	padding-left: 4.5vw;
}

div[class^='b3-name-el'] {
	color: white;
	font-weight: bold;
	font-size: 1.1vw;
	grid-area: name;
	padding-top: 1vw;
}

.block3-el3 div.b3-name-el3 {
	font-size: 1vw;
}

div[class^='b3-desc-el'] {
	color: white;
	grid-area: desc;
	font-size: 0.9vw;
	line-height: 1.8;
	align-self: start;
	padding-top: 1vw;
}




.btn-block3 {
	margin-left: 40vw;
	width: 20vw;
	height: 80%;
	background-color: #FFA500;
	border: 0;
	border-radius: 8px;
	margin-top: 1vw;
	margin-bottom: 2vw;
	cursor: pointer;
}

/* Стили для блока 4 "Ответы на самые популярные вопросы" --------------------------------------------------------------------- */

.main-block4 {
	display: grid;
	grid-template-rows: 8% 92%;
	width: 100%;
	height: auto;
	background-image: url(pic/Frame4.png);
	background-size: 100vw 60vh;
	background-color: #04138c;
	align-items: center;
	justify-items: center;
	cursor: default;
}

.b4-name {
	margin-top: 10vw;
	color: white;
	font-size: 3vw;
	font-weight: bold;
	margin-bottom: 4vw;
}




div[class^='b4-el'] {
	width: 70vw;
	height: 4.5vw;
	border-radius: 8px;
	box-shadow: 0px 0px 50px -10px #167EC233;
	background: linear-gradient(180deg, #FFFFFF 50.57%, #BDC0FF 100%);
	padding-left: 2vw;
	vertical-align: middle;
	padding-top: 1.8vw;
	font-size: 1.1vw;
	font-weight: bold;
	margin-bottom: 1vw;
	cursor: pointer;
	position: relative;
	z-index: 10;
}

div[class^='b4-el']:hover {
	background: linear-gradient(180deg, #8f90db 50.57%, #BDC0FF 100%);
	z-index: 10;
}

.b4-flex-container div.reveal {
	background: linear-gradient(180deg, #8f90db 50.57%, #BDC0FF 100%);
	z-index: 10;
}

button[class^='b4-btn-el'] {
	width: 2.8vw;
	height: 2.8vw;
	border-radius: 50%;
	background-color: #757AEF;
	border: 0;
	position: relative;
	top: -2vw;
	left: 65vw;
	padding-left: 0.75vw;
	padding-bottom: 0.4vw;
	cursor: pointer;
	z-index: 10;
}

.element4 button.active {
	background-color: white;
	padding-top: 0.8vw;
	padding-left: 0.8vw;
	z-index: 10;
}

button[class^='b4-btn-el']:hover {
	border: 0.3vw solid #bfbfbf;
	padding-left: 0.5vw;
	box-shadow: 0px 0px 10px 0px #bfbfbf;
	z-index: 10;
}

div[class^='b4-btn-arr-el'] {
	width: 1vw;
	height: 1vw;
	border: 0.1vw solid white;
	border-width: 0 0 0.2vw 0.2vw;
	rotate: -45deg;
	z-index: 10;
}

.element4 button.active .btn-arr {
	border: 0.1vw solid #757AEF;
	border-width: 0.25vw 0.25vw 0 0;
	z-index: 10;
}

.b4-el1-desc-container {
	display: none;
}

section.desc-active {
	position: relative;
	top: -2vw;
	padding: 3vw;
	width: 66vw;
	height: auto;
	background-color: white;
	font-size: 1.07vw;
	z-index: 1;
	color: #333333;
	border-radius: 8px;
	display: block;
}


/* Стили для подвала ---------------------------------------------------------------------------------------------------------- */

footer {
	width: 100%;
	height: 10vw;
	background-color: #333333;
}

.footer-grid-container {
	width: 74%;
	height: 100%;
	margin-left: 13vw;
	display: grid;
	grid-template-columns: 23% 7% 12% 16% 11% 6% 7% 18%;
	align-items: center;
	color: white;
	cursor: default;
}

.footer-logo {
	font-weight: bold;
	font-size: 3vw;
	cursor: pointer;
}

.footer-catalog {
	font-size: 1vw;
}

.footer-manufacturers {
	font-size: 1vw;
}

.footer-working {
	font-size: 1vw;
}

.footer-certificates {
	font-size: 1vw;
}

.footer-about {
	font-size: 1vw;
}

.footer-contacts {
	font-size: 1vw;
}

.footer-btn {
	height: 6vw;
	border-radius: 8px;
	border: 0;
	background-color: #969AF7;
	color: white;
	font-size: 1.1vw;
	cursor: pointer;
}

/* Стили для перегородок для 4к экранов -------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1500px) {

	.partition1 {
		width: 100%;
		position: absolute;
		top: 39.5vw;
		z-index: 60;
	}


	.partition2 {
		width: 100%;
		position: absolute;
		top: 106vw;
		z-index: 60;  
	}

	.partition3 {
		width: 100%;
		position: absolute;
		top: 153vw;
		z-index: 60;
	}

	.partition4 {
		width: 100%;
		position: absolute;
		top: 207.5vw;
		z-index: 60;
	}
}